@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    margin: 0 200px;
    height: 90vh;
}
body {
    background-color: #19303f;
}
h3 {
    color: #fff;
    font-size: 27px;
}
.front, .back , .base {
    margin-right: 40px;
}
.habilidades-title {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.habilidades-title h1 {
    border-bottom: 5px solid #CD5A69;
}
.lidades {
    color: #CD5A69;
}
.habilidades {
    margin-top: 50px;
    height: 60vh;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.habilidades img {
    width: 70px;
    margin-top:40px;
}