@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    margin: 0 200px;
}
body {
    background-color: #19303f;
}
.proyectos-title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #fff;
    
}
.proyectos-title h1 {
    border-bottom: 5px solid #CD5A69;
}
.pro {
    color: #CD5A69;
}
.proyectos{
    margin: 20px 0 0 0;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 20px;
    grid-template-rows: 600px;
    height: 100vh;
}

.description {
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
}
.description p {
    max-width: 400px;
    margin-top: 350px;
}


.card-complete {
    height: 300px;
    
}

.card1 {
    background-image: url('../img/monos.png');
    background-size: cover;
    
    background-position: top;
    transition: ease-in-out 3s;
}
.card1:hover {
    background-position: bottom;
}
.card2 {
    background-image: url('../img/google.png');
    background-position-x: left;
    background-size: cover;
    transition: ease-in-out 3s;
}
.card2:hover {
    background-position: right;
}
.card3 {
    background-image: url('../img/reactchakra.png');
    background-size: cover;
    background-position: center;
    transition: ease-in-out 3s;
}
.card3:hover {
    background-position: right;
}
.card4 {
    background-image: url('../img/bot.png');
    background-size: 420px;
    background-position: center;

}
.lenguajes {
    display: flex;
    justify-content: center;
}
.lenguajes img {
    max-width: 70px;
    height: 100%;
    margin: 0 7px;
    transition: all 0.5s ease;
}
.lenguajes img:hover {
    transform: scale(1.4);
}
.botones {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card1 .botones {
    margin: 10px;
}
.botones button {
    margin: 40px 10px ;
    width: 200px;
    font-weight: 500;
    border: none;
    background-color: #CD5A69;
    color: #fff;
    padding: 9px 10px;
    font-size: 18px;
    border-radius: 20px;
    transition: all 0.5s ease;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #CD5A69;
    font-weight: bold;
    transform: scale(1.1);
}

