@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root {
    --primario: #6e0511;
    --negro: #000000;
    --blanco: #ffffff;
    --secundario: #42030a;
    --tercero: #a86970;
    --cuarto: #2c0207;
    --quinto: #4d040c;
    --sexto: #9a5058;
    --septimo: #b78288;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #c59ba0;
}
.navbar-brand {
    font-weight: bold;
    color: var(--primario);
    font-size: 30px;
}
.fotoperfil {
    height: 400px;
    width: 350px;
    border-radius: 50%;
    border: 5px solid var(--negro);
}

.nav-link {
    color: var(--primario);
    font-weight: bold;
    font-size: 20px;
}
.btn-1 {
    background-color: var(--negro);
    color: var(--blanco);
    border-radius: 400px;
}
.btn-1:hover {
    color: var(--blanco);
}
.punto {
    color: var(--tercero);
}
.mussi {
    color: var(--secundario);
}

.principal-span {
    font-size: 30px;
    color: var(--tercero);
}
.titulo1 {
    color: var(--primario);
    font-size: 100px;
    font-weight: bold;
    
}
.parrafo1 {
    font-size: 30px;
    color: var(--negro);
    font-weight: 500;
}