@media screen and (max-width: 1200px) {
    .container-2 {
        margin: 100px ;
    }
    .sobre-mi h2 {
        font-size: 30px;
    }
    .btn-link, .btn-link-2 {
        font-size:20px;
        padding: 10px 40px;
    }
}
@media screen and (max-width: 768px) {
    .container-2 {
        height:70vh!important;
        margin: 100px 30px;
    }
    .sobre-mi h2 {
        width: 34%;
    }
    .btn-link, .btn-link-2 {
        font-size: 18px;
        padding: 10px 40px;
    }
}

@media screen and (max-width:500px) {
    .container-2 {
        height: 60vh;
        margin: 50px 20px;
    }
    .sobre-mi h2 {
        width: 40%;
    }
    .sobre-mi p{
        font-size: 20px;
    }
    .btn-link, .btn-link-2 {
        display: flex;
        font-size: 20px;
        margin: 10px 0;
        justify-content: center;
     }
}
@media screen and (max-width:385px){
    .container-2 {
        margin:150px 20px;
        height: 70vh;
    }
    .sobre-mi h2 {
        width: 40%;
        font-size: 24px;
    }
    .sobre-mi p{
        font-size: 20px;
    }
}
@media screen and (max-width:300px){
    .sobre-mi h2 {
        width: 50%;
        font-size: 18px;
    }
    .sobre-mi p{
        font-size: 18px;
    }
    .container-2 {
        height:120vh;
    }
    .btn-link, .btn-link-2 {
        padding: 5px 8px;
        font-size: 16px;
     }
}