@media  screen and (max-width: 768px) {
    .foot {
        margin: 200px 0 0 0;
        
    }
}
@media  screen and (max-width: 320px) {
    .foot {
        margin: 330px 0 0 0;
        
    }
}
@media  screen and (max-width: 375px) {
    .foot {
        margin: 300px 0 0 0;
        
    }
}
@media  screen and (max-width: 425px) {
    .foot {
        margin: 300px 0 0 0;
        
    }
}