@media  screen and (max-width: 1700px){
    .container {
        height: 100vh!important;
    }
    h3{
        font-size: 20px;
    }
    .front-img, .back-img , .base-img, .otros-img {
        flex-wrap: wrap;
    }
}
@media  screen and (max-width: 1300px) {
    .container {
        height: 80vh;
    }
    h3{
        font-size: 20px;
    }
    .front-img, .back-img , .base-img, .otros-img {
        flex-wrap: wrap;
    }
}
@media  screen and (max-width: 1024px) {
    .container {
        margin: 0 40px!important;
        height: 80vh;
    }
    .otros h3{
        font-size: 20px;
    }
    img {
        margin-right: 20px;
    }
    .otros-img {
        margin-left: 10vw;
    }
    .front-img, .back-img , .base-img, .otros-img {
        flex-wrap: wrap;
    }
    
}

@media  screen and  (max-width: 768px) {
.container{
    height: 310vh!important;
}
h3 {
    font-size: 19px;
}

.front-img, .back-img , .base-img, .otros-img {
    flex-wrap: wrap;
}

}