@media  screen and (max-width: 1700px){
    .container {
        height: 100vh!important;
    }
    h3{
        font-size: 20px;
    }
}
@media  screen and (max-width: 1300px) {
    .container {
        height: 80vh;
    }
    h3{
        font-size: 20px;
    }
}
@media  screen and (max-width: 1024px) {
    .container {
        margin: 0 40px!important;
        height: 80vh;
    }
    .otros h3{
        font-size: 20px;
    }
    img {
        margin-right: 20px;
    }
    .otros-img {
        margin-left: 10vw;
    }
    
}

@media  screen and  (max-width: 768px) {
.container{
    height: 310vh!important;
}
h3 {
    font-size: 19px;
}
.habilidades {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.otros {
    margin: 0 80px 0 0 ;
}
.otros h3 {
    margin-left: 20px;
}

}


