@media screen and (max-width: 1440px) {
    .container {
        margin: 100px 50px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        margin: 0 30px;
        height: 80vh!important;
    }
    .first h1{
        font-size: 32px;
    }
    .first h5 {
        font-size: 24px;
    }
    .first img {
        width: 500px;
        height: 500px;
    }
    .info {
        font-size: 15px;
        padding: 10px 24px;
    }
}


@media screen and (max-width: 900px) {
    .container {
        height: 90vh!important;

    }
    .first {
        display: flex;
        flex-wrap: wrap;
        height: 80vh;
        justify-content: center;
        margin-top: 20px;
    }
}

@media screen and (max-width: 750px) {
    .first {
        height: 70vh;
    }
    .first img {
        width: 400px;
        height: 400px;
    }
    .info {
        font-size: 16px;
        padding: 7px 20px;
    }
}
@media screen and (max-width: 425px) {
    .container {
        height:120vh!important;

    }
    .first {
        height: 50vh;
    }
    .info {
        font-size: 16px;
        padding: 7px 20px;
    }
    .box-img {
        width: 300px!important;
        height: 300px!important;
    }
}
@media screen and (max-width:319px){

    .box-img {
        width: 300px!important;
        height: 300px!important;
    }
}
