@media screen and (max-width: 1700px) {
    .container {
        margin: 0 50px;
        height: 150vh!important;
    }
    .proyectos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 140vh;
        
    }
    
   
}

@media screen and (max-width: 999px) {
    .container {
        margin: 0 30px;
        height: 230vh!important;
    }
    .proyectos {
        height: 250vh;
    }
   
}
@media screen and (max-width: 550px) {
    .container {
        margin: 0 30px;
        height: 220vh!important;
    }
    .proyectos {
        height: 250vh;
    }
    .description p {
        font-size: 16px;
        max-width: 300px;
    }
    .lenguajes img {
        max-width: 50px;
    }
    .botones {
        margin-top:20px;
        flex-direction: column;
    }
    .botones button{
        margin: 10px;
        padding: 7px 10px;
    }
}